.flex-container{
    border: 1px soli black;
    background-color: bisque;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 600px;;
    margin: 0 auto;
    justify-content:center;
    align-items: flex-start;
    
}

.caja{
    border: 1px solid rgb(70, 69, 69);
    background-color: aquamarine;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 120px;
    /* height: 120px; */
    line-height: 120px;
    text-align: center;
    margin: 5px;
    
}

.c1{
    background-color: salmon;
    order: 3;
    flex-grow: 8;

}
.c2{
    background-color:blueviolet;
    order: 1;
    
}
.c3{
    background-color:chartreuse;
    order: 2;
    
}